.buttons {
    display: flex;
}

.button {
    width: 140px;
    height: 100px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}
.setting {
    width: 300px;
    height: 50px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
}
.disable {
    color: silver;
    pointer-events: none;
}